%h1 Your tasks 
%a.fa.fa-plus-circle{ href: new_task_path } Add new
%ul
  - @tasks.each do |task|
    %li{ :class => ("task-done" if task.done?) }
      %a{ href: edit_task_path(task) }= task.summary
    
